{% load static %}
<html>
<head>
  <meta charset="UTF-8">
  <title>Book Rapport</title>
  
  <link rel="stylesheet" href="{% static 'css/search.css' %}">

</head>
<body>
  
  <h1>Which book did you read?</h1>
  
  <!-- Search bar -->
  <div>
    <input type="text" id="search-bar" name="search-bar" placeholder="e.g. Title, Author, ISBN">
    <input type="button" id="search-button" value="Search">
  </div>
  
  <br><br>
  
  <!-- Book search results -->
  <div>
    <section class="books">
    </section>
  </div>



  <script
    src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>

  <script type="text/javascript" src="{% static 'js/search.js' %}"></script>


</body>
</html>
